<body class="hm-gradient">

    <main>

        <!--MDB Tables-->
        <div class="container mt-4">

            <div class="card mb-4">
                <div class="card-body">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Пользователи</h2>
                            <button style="border-radius: 50%;" (click)="onAdd()"
                            class="btn btn-primary btn-circle btn-circle-sm m-4"><i
                                class="fa fa-plus"></i></button>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <!--Table-->
                    <table class="table table-striped">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Фамилия</th>
                                <th>Имя</th>
                                <th>Отчество</th>
                                <th>Номер телефона</th>
                                <th>Логин</th>
                                <th>Пароль</th>
                                <!-- <th>Услуги???</th> -->
                            </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                            <tr *ngFor="let user of users">
                                <th scope="row">{{user.id}}</th>
                                <td>
                                    <input id="form_lastname-{{user.id}}" type="text" name="lastname" class="form-control"
                                    placeholder="Please enter lastname *" required [(ngModel)] = "user.lastname"
                                    data-error="Lastname is required.">
                                </td>
                                <td>
                                    <input id="form_firstname-{{user.id}}" type="text" name="firstname" class="form-control"
                                    placeholder="Please enter firstname *" required [(ngModel)] = "user.firstname"
                                    data-error="Firstname is required.">
                                </td>
                                <td>
                                    <input id="form_middlename-{{user.id}}" type="text" name="middlename" class="form-control"
                                    placeholder="Please enter middlename *" required [(ngModel)] = "user.middlename"
                                    data-error="Middlename is required.">
                                </td>
                                <td>
                                    <input id="form_phone-{{user.id}}" type="text" name="phone" class="form-control"
                                    placeholder="Please enter phone *" required [(ngModel)] = "user.phone"
                                    data-error="Phone is required.">
                                </td>
                                <td>
                                    <input id="form_login-{{user.id}}" type="text" name="login" class="form-control"
                                    placeholder="Please enter login *" required [(ngModel)] = "user.login"
                                    data-error="Login is required.">
                                </td>
                                <td>
                                    <input id="form_password-{{user.id}}" type="text" name="password" class="form-control"
                                    placeholder="Please enter password *" required [(ngModel)] = "user.password"
                                    data-error="Password is required.">
                                </td>
                                <td>
                                    <!-- <button class="fa fa-pencil-square-o" style='margin: 10px; border: 0; border-radius: 50%; background-color: green; font-size:25px;color:white'></button> -->
                                    <!-- <button class="fa fa-trash " style='border: 0; border-radius: 50%; background-color: red; font-size:25px;color:white'></button> -->
                                    <button type="submit" style="border-radius: 50%;" 
                                        class="btn btn-warning  btn-circle btn-circle-sm m-1" (click)="onUpdate(user)"><i
                                            class="fa fa-pencil"></i></button>
                                    <button style="border-radius: 50%;"
                                        class="btn btn-danger btn-circle btn-circle-sm m-1" (click)="onDelete(user)"><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
            </div>


        </div>
        <!--MDB Tables-->

    </main>

</body>