<div class="container">
    <div class="row ">
        <div class="col-lg-7 mx-auto mt-4">

            <div class="card mt-2 mx-auto p-4 bg-light">

                <div class="card-body bg-light">

                    <div class="container">
                        <form id="contact-form" role="form">

                            <div class="controls">

                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <div class="form-group">
                                            <label for="form_name">Firstname *</label>
                                            <input id="form_name" type="text" name="name" class="form-control"
                                                placeholder="Please enter your firstname *" required="required"
                                                data-error="Firstname is required.">

                                        </div> -->
                                        <div class="form-group">
                                            <label for="form_need">Введите имя питомца *</label>
                                            <input id="form_name" type="text" name="name" class="form-control"
                                                placeholder="Please enter pet name *" required [(ngModel)] = "pet.name"
                                                data-error="Name is required.">

                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="selectedCat">Введите возраст питомца</label>
                                                <input id="form_age" type="number" name="age" class="form-control"
                                                    placeholder="Please enter pet age *" required [(ngModel)] = "pet.age"
                                                    data-error="Age is required.">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_need">Выберите вид питомца</label>
                                            <ng-select 
                                            name="type"
                                            [items]="types" 
                                            bindLabel="type"
                                            placeholder="Select type" appendTo="body" 
                                            [multiple]="false"
                                            [(ngModel)]="pet.type" name="p" 
                                            [hideSelected]="true">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_need">Выберите пол животного *</label>
                                            <ng-select 
                                            name="gender" 
                                            [items]="genders" 
                                            bindLabel="gender"
                                            placeholder="Select gender" appendTo="body" 
                                            [multiple]="false"
                                            [(ngModel)]="pet.gender" name="gender" 
                                            [hideSelected]="true">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <br>
                                        <button (click)="onSubmit()" type="submit" class="btn btn-success btn-send  pt-2 btn-block"
                                            value="Записать">Подтвердить</button>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <a href="/pets">
                                            <button type="button" class="btn btn-success btn-send  pt-2 btn-block"
                                            value="Записать">Назад</button>  
                                        </a>
                                    </div>
                                </div>        
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- /.8 -->

        </div>
        <!-- /.row-->

    </div>
</div>